@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Outfit', sans-serif;
}

:root {
  --background-color: #121826;
  --title-color: #E5E7EB;
  --paragraph-color: #9DA3AE;
  --card-background-color: #212936;

  --card-circle-color-1: #FCEED8;
  --card-circle-color-2: #DEE9FC;
  --card-circle-color-3: #FBE5E6;

  --box-shadow: 1px 1px 1px #212936;
}
